/* - Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */

:root {
  --yellow: var (hsl(51, 100%, 49%));
  --soft-red: var(hsl(7, 99%, 70%));
  --dark-desaturated-cyan: var(hsl(167, 40%, 24%));
  --dark-blue: var(hsl(198, 62%, 26%));
  --dark-mod-cyan: var(hsl(168, 34%, 41%));
  --very-dark-des-blue: var(hsl(212, 27%, 19%));
  --very-dark-gray-blue: var(hsl(213, 9%, 39%));
  --dark-gray-blue: var(hsl(232, 10%, 55%));
  --gray-blue: var(hsl(210, 4%, 67%));
  --white: var(hsl(0, 0%, 100%));
}
